.copy-info-row {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.copy-info-button {
    width: 60%;
}

.checkout-row {
    justify-content: center;
}

.checkout-lines {
    text-align: center;
    margin-top: 8px;
}