#productContainer {
    justify-content: space-around;
    margin-top: 76px;
}

.product-card {
    width: 18rem;
    height: 600px;
    margin-bottom: 36px;
    background-color: #f7e4fcf8;
    box-shadow: 16px 16px #F48FB1;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
}

.product-card-title {
    justify-content: space-between;
    align-items: center;
}

.product-card-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.product-card-cost {
    font-size: 1rem;
    font-weight: 600;
}

.product-card-desc {
    overflow-y: auto;
    margin-bottom: 52px;
}

.product-card-desc::-webkit-scrollbar {
    width: 8px;
}

.product-card-desc::-webkit-scrollbar-track {
    background: #F48FB1;
    border-radius: 10px;
}

.product-card-desc::-webkit-scrollbar-thumb {
    background: #4A148C;
    border-radius: 10px;
}

.product-card-button {
    align-self: center;
    width: 80%;
    position: absolute;
    bottom: 16px;
}

.product-detail-modal {
    min-width: 450px;
    max-width: 550px;
}

.product-detail-image {
    height: 250px;
}

.product-detail-body {
    height: 250px;
}

.product-detail-actions {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}