.nav-custom {
    background-color: #4A148C;
}

.landing-custom-background {
    background-color: white;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    background-image: url('../images/b90d8525715132c40466b8a99d97c1bb.jpg');
}

.landing-page-jumbotron {

    background:
        linear-gradient(rgba(253, 0, 232, 0.25),
            rgba(52, 3, 97, 0.45)),
        url(/images/168686317399804841\ \(1\).gif);
    background-repeat: repeat;
    background-attachment: center;
    color: rgb(255, 255, 255);
    min-height: 340px;
}

.white-text-with-pink-shadow {
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(250, 185, 230), 0 0 0.2em rgb(255, 0, 200);
    color: white;
    font: 1.1rem Verdana;
    font-weight: bolder;
}

.carousel-image {
    margin-bottom: 3.6%;
    width: 100%;
}

.cart-container {
    padding: 8px;
}

.cart-item {
    width: 400px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.cart-item-content {
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.cart-image {
    width: 50px;
    height: 50px;
}



#remove-from-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

#remove-from-cart-button:hover {
    cursor: pointer;
    color: red;
}

#cart-qty {
    min-width: 24px;
    max-width: 48px;
}

body {
    background-image: linear-gradient(to bottom left, #880E4F, #F06292, #7E57C2);

}

.page-title {
    text-shadow: 4px 4px pink;
    padding: 75px;
    text-align: center;
    text-decoration: underline;
}

.button-primary {
    background-color: #4A148C;
    color: white;
    box-shadow: 4px 4px #F48FB1;

}

.button-primary:hover {
    background-color: #7B1FA2;
    color: white;
}

.site-footer {
    margin-top: 16px;
    border-top: 1px solid white;
    padding: 32px;
    background-color: #7C4DFF;
}

.footer-header {
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(250, 185, 230), 0 0 0.2em rgb(255, 0, 200);
    color: white;
    font: Verdana;
    font-weight: bolder;
}

.footer-icons-row {
    justify-content: center;
}

.footer-icons {
    width: 40px;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(250, 185, 230), 0 0 0.2em rgb(255, 0, 200);
    color: white;
    font: 0.8rem Verdana;
}

.footer-links a,
.contact-links {
    text-decoration: none;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(250, 185, 230), 0 0 0.2em rgb(255, 0, 200);
    color: white;
    font: 0.8rem Verdana;
    font-weight: bolder;
}